.account-form {
  h2 {
    font-size: 3.125rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 5rem;
  }
}

.account-form__form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.account-form__form-item {
  margin-bottom: 1.25rem;
}

.account-form__form-submit {
  align-self: center;
  margin-top: 1.25rem;
}
